body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.header_section {
    background-image: url(img/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header_area {
    text-align: center;
    padding: 112px;
}

.header_area h1 {
    font-size: 55px;
    color: #fff;
}

.header_area p {
    color: #ededed;
    font-size: 18px;
    line-height: 1.6;
}

.btn a {
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.btn {
    margin-top: 71px;
}

/* ========== Donate count section========== */
section {
    padding: 70px;
}

.section_title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.section_title h1 {
    font-size: 45px;
    color: #444;
}

.section_title p {
    color: #686767;
    font-size: 16px;
}

.count_area {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.count_area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.count_area ul li {
    display: inline-block;
    padding: 25px;
    font-size: 30px;
    background: #eae8e8dd;
    margin: 5px;
}

.count_area ul li.specal {
    border: 4px solid orange;
    background: #fadca4;
}

.count_form {
    padding-top: 65px;
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

input[type="text"] {
    font-size: 20px;
    border: none;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* ============ Donate Plan ========== */
.donate_blog {
    width: 100%;
    display: flex;
}

.single_blog {
    padding: 30px 20px;
    margin: 15px;
}

.single_blog p {
    color: #7d7d7d;
    line-height: 1.6;
}

#blog_bg_1 {
    background: #EDF5F6;
}

#blog_bg_2 {
    background: #FFEEEE;
}

#blog_bg_3 {
    background: #FFF4D6;
}

/* ======== Donet Content section ======== */
.content_flexible {
    display: flex;
    width: 100%;
}

.content_area {
    width: 50%;
}

.text_area {
    padding: 10px 40px;
}

.text_area h1 {
    font-size: 45px;
}

.text_area p {
    color: #7d7d7d;
    line-height: 1.6;

}

.content_img img {
    width: 100%;
    height: 100%;
}