body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.header_section {
    background-image: url(img/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header_area {
    text-align: center;
    padding: 112px;
}

.header_area h1 {
    font-size: 55px;
    color: #fff;
}

.header_area p {
    color: #ededed;
    font-size: 18px;
    line-height: 1.6;
}

.btn a {
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.btn {
    margin-top: 71px;
}